<html>

<body>
    <div>
        <form action="/logout" method="post">

            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>Список клиентов</div>
    {{#clients}}
        <div>
            <b>{{client_id}}</b>
            <span>{{secret_id}}</span>
        </div>
    {{/clients}}
</body>
</html>